.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    max-width: 100%;
  }
  
  @media (min-width: 768px) {
    .header {
      padding: 2rem 10%;
    }
  }
  @media only screen and (max-width: 320px) {
    .header{
      display: inline;
  
    }
    
  }
  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header{
    display: inline;

  }
  
  
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header{
    display: inline;
  }
 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header{
    display: inline;
  }
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header{
    display: flex;
  }
  .img{
    
    height: 100vh;
  }
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header{
    display: flex;
  }
  .img{
    height:600px ;
    width: 400px;
  }
  
}
 
  .section {
    
    color: #ddd6cb;
    font-size: 1.5rem;
    max-width: 50rem;
    width: 90%;
    margin: 1rem auto;
    text-align: center;
    
    
  }
  .section p
  {
    font-size: 0.75em;
  }
  .main{
    
    display: flex;
    flex-direction: column;
    color: #ddd6cb;
    font-size: 1.5rem;
    max-width: 50rem;
    width: 90%;
    margin: 2rem auto;
    text-align: center;
    height: 700px;

  }
  .main table
  {
    text-align: left;
    font-size: 1rem;
  }
  .main td{
    color:#a19f9b;
  }
  .main th{
    width: 250px;
  }
  .left{
    float:left;
  }
  .center{
    font-size: 1.5rem;
    text-align: justify;
    /*height: 90%;
    width: 700px;*/
  }
  .center p{
    font-size: 1rem;
  }
  .img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    max-width: 500px;
    max-height: 680px;
    /*min-height: 650px;
    min-width: 450px;*/
  }
  .cta{
    color: #ddd6cb;
    font-size: 1.5rem;
    max-width: 50rem;
    width: 90%;
    margin: 1rem auto;
    text-align: center;
    background-color: #a19f9b;
    border-radius: 15px;
    width: 100px;
    height: 50px;
   padding: 10px;
  }
 