.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

@media (min-width: 768px) {
  .header {
    padding: 2rem 10%;
  }
}

.section {
  display: flex;
  flex-direction: column;
  color: #e7e4df;
  font-size: 1.5rem;
  max-width: 50rem;
  width: 90%;
  margin: 10rem auto;
  text-align: center;
}
.section p{
  font-size: 1.25rem;
  color: #c4beb6;
}
.button{
  text-decoration: none;
}
